
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');

.contact_body{
  background-color: #c6d8d7;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  height:100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.contact_header{
  padding: 0% 8% 1.9% 8% ;
}

.main_heading{
  color: #2b4b36;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 3.1em;
}
.sub_heading{
  font-size: 1em;
  font-weight: 500;
}
.contact_conatiner{
  display: flex;
  flex-direction: row;
}
.contact_form{
  font-family: Inter;
  display: flex;
  flex-direction: column;
  height: 70vh;
}
.contact_form{
  box-sizing: border-box;
  width: 40%;  
  min-height: 50%;
  margin: 0% 0% 0% 21%;

 
}
.aside{
  max-width: 25%;
  font-size: .9em;
  margin-left: 8%;
  font-weight: 500;
}
.contact_label{
  font-size: 100%;
  font-weight: 500;
}
.form_item{
  text-align: right;
  padding-right: 5%;
  margin: 2.5% 0% 0% 0%;
}
.contact_input{
  width: 80%;
  box-sizing: border-box;
  max-width: 420px;
  padding: 3% 2.5% 3% 2.5%;
  margin-left: 3%;
  font-size: .8em;
  outline: none;
  border: 1px solid #dddddd;
  border-radius: 5px;
  background: #f9f9f9;
  transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.contact_input:focus{
  border-color: #000080;
}

.contact_message{
  height: 30vh;
  font-size: 120%;
}
.form_btn{
  font-size: .9em;
  padding: 1.8% 10% 1.8% 8%;
  margin: 5% 0% 0% 19%;
  color: #000000;
  background: #C6D8D7;
  opacity: .8;
  border: 2px solid #2b4b36;
  border-radius: 6px;
  cursor: pointer;
  outline: none;
}
textarea{
  vertical-align:middle;

}
.landing_last{
  font-family: Inter;
  font-size: normal;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
}
.landing_header{
  background-color: #d3d3d3;
  background:linear-gradient(0deg, rgba(43, 75, 54, 0.7), rgba(43, 75, 54, 0.7)), url('../images/background_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  height: 64%;
}

.landing_header_text{
  text-align: left;
  display: inline-block;
  margin:5% 10% 10% 25% ;
}
.last_heading{
  width: 100%;
  font-size: 3em;
  font-weight: 800;
  margin-bottom: 0;
}
.last_tagline{
  margin-top: .6%;
  margin-bottom: 4%;
  font-size: 1rem;
}
.header_link{
  text-decoration: none;
  color: #ffffff;
  padding: .6% 1.7% .6% 1.7%;
  margin: 1%;
  border: 1.5px solid #ffffff;
  background-color: rgba(255,255,255,0.0);
  border-radius: 10%;
  font-size: 1.2vw;
}
.header_link:hover{
  color:#2b4b36;
  background-color: rgba(255,255,255,0.9);
  font-weight: 600;
}
.last_footer{
  background-color: rgb(43,75,54);
}

.logo_with_name{
    width: 6%;
    margin-top: 2%;
    margin-left: 25%;
}

.footer_nav{
  font-family: Inter;
  font-size: 1rem;
  color: #ffffff;
  display: inline-block;
  margin-left: 17%;
  margin-top: 2%;
  font-weight: 400;
}
.footer_nav_heading{
  opacity: 0.5;
  font-weight: 400;
  margin-bottom: 12%;
}
.footer_nav_link{
  font-size: 1em;
  color: #ffffff;
  text-decoration: none;
  display:block;
  padding: 4%;
  opacity: 1;
}

.footer_socials{
  font-size: 1rem;
  width: 15%;
  color: #ffffff;
  display: inline-block;
  margin-left: 6.5%;
  margin-top: 0%;
  margin-bottom: 2.5%;
}
.footer_socials_heading{
  opacity: 0.5;
  font-weight: 400;
}
.fa{
  color: #ffffff;
  text-decoration: none;
  padding:4%; 
}
.fa_facebook{
  padding-left: 0;
}
.copyright{
  font-weight: 100;
  opacity: 0.5;
  font-size: 1rem;
  padding-bottom: 1%;
  margin-bottom: 0%;
  text-align: center;
  color: #ffffff;
  display:block;
}
